@charset "UTF-8";
body, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: '微软雅黑';
}

ul, li, h1, h2, h3, h4, h5, h6, p {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

* {
  box-sizing: border-box;
}


img {
  border: none;
}
html{
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}
body{
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
}
.write_fu{
  width: 102.4rem;
  height:67.15rem;
  background: url(../images/backgound.jpg) no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
/*福字左侧*/
.write_fu_left{
  width:38.5rem;
  height:100%;
  float: left;
  overflow: hidden;
}
.xinchunqifu{
  width: 25.05rem;
  height: 9.66155599rem;
  margin-left:6.4rem;
  margin-top:3.80341797rem;
  background: url(../images/xinchunqifu.png) no-repeat;
  background-size: 100% 100%;

}
.qifu_shuoming{
  width: 29rem;
  height: 7.8rem;
  text-align: center;
  color: #FFE9C2;
  font-size: 18rem;
  overflow: hidden;
  margin-top: 2.5rem;
  margin-left:4.2rem;
}
.qifu_shuoming p span{
  color: #E8C473;
  font-weight:bold;
}
.qifu_bg{
  width: 18rem;
  height: 38rem;
  margin-left: 8.6rem;
  margin-top:1rem;
}
.qifu_bg ul li{
  display: block;
  margin-top: 1rem;
  width: 18rem;
  height: 12rem;
  position: relative;
  cursor: pointer;
}
.qifu_bg ul .active{
  width: 18rem;
  height: 12rem;
  border:0.5rem solid #E8C474;
   position: relative;
   z-index: 100;
   box-sizing:border-box;
}
.qifu_bg ul .active img{
  display: block;
  width: 17rem;
  height: 11rem;
}
.qifu_bg ul li img{
  display: block;
  width: 18rem;
  height: 12rem;
}
.qifu_btn{
  width: 13.1rem;
  height: 7.15rem;
  background: url(../images/submit_btm.png);
  background-size: 100% 100%;
  margin-left:12rem;
  margin-top:2rem;

}
.write_fu_right{
  position: relative;
  width: 63.9rem; 
  float: left;
  height: 100%;
}
.taiguhui{
  width: 17rem;
  height: 12.1rem;
  position: absolute;
  left:23.6rem;
  top:3.5rem;
  background: url(../images/TKH_event_logo.png) no-repeat;
  background-size: 100% 100%;
  z-index: 99;
}
.write_fu_content .write_fu_box1{
  width: 67.65rem;
  height: 70.14rem;
  position: absolute;
  left:-3rem;
  top:6rem;
  /*display: none;*/
}
.write_fu_content .write_fu_box2{
  width: 65.01rem;
  height: 65.13rem;
  position: absolute;
  left: -3rem;
  top: 7rem;
  display: none;
}
.write_fu_content .write_fu_box3{
  width: 64.44rem;
  height: 64.54rem;
  position: absolute;
  left:-3rem;
  top:8rem;
  display: none;
}
.write_fu_content .write_fu_box:nth-child(1) img{
  width: 67.65rem;
  height: 70.14rem;
  
}
.write_fu_content .write_fu_box:nth-child(2) img{
  width: 65.01rem;
  height: 65.13rem;
}
.write_fu_content .write_fu_box:nth-child(3) img{
 width: 64.44rem;
  height: 64.54rem;
  
}
.write_fu_bottom{
  position: absolute;
  width: 50px;
  height: 10rem;
  bottom:1.5rem;
  left:10.5rem;
}
.write_fu_bottom .fangxiang_box{
  width: 45rem;
  height: 10rem;
  position: relative;
}
.write_fu_bottom .fangxiang_box span{
  display: block;
}
.write_fu_bottom .fangxiang_box span:nth-child(odd) img{
  width: 5.3625rem;
  height: 3.7875rem;
}
.write_fu_bottom .fangxiang_box span:nth-child(even) img{
  width: 3.7875rem;
  height: 5.3625rem;

}
.write_fu_bottom .fangxiang_box span:nth-child(2){
  position: absolute;
  top:1.2rem;
  left:-1.1rem;
  }
  .write_fu_bottom .fangxiang_box span:nth-child(4){
  position: absolute;
  z-index: 100;
  top:1.2rem;
  left:2.6875rem;
  }
.write_fu_bottom .large_small{
    width: 28.8rem;
    height: 3.75rem;
    position: absolute;
    top:2rem;
    left:5rem;
    z-index: 11;
    background: url(../images/zoom_back.png) no-repeat;
    background-size: 100% 100%;
  }
.write_fu_bottom .large_small input{
    width: 19em;
    height: 3.75rem;
    margin-left: 3rem;
    display:block;
    -webkit-appearance: none;
    background: transparent;
  }
input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 1.5rem;
      width: 3rem;
      margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
      background: url(../images/zoom_btm.png) no-repeat;
      background-size: 100% 100%;
    }
.re-write_btm .re_write{
  width: 6rem;
  height: 6rem;
  background: url(../images/re-write_btm.png);
  background-size: 100% 100%;
  position:absolute;
  z-index: 999;
  top:1rem;
  left:32.5rem;
  border:none;
  outline:none;
}
.signature-pad,.signature-pad .signature-pad--body{
    width: 100%;
    height: 100%;
}
.canvas {
  position: absolute;
  left:2.5rem; 
  top:1.5rem;
  width: 35rem;
  height: 35rem;
  border-radius: 120px;
  transform-origin:center;
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}
.canvas  canvas{
  width: 85.33333rem;
  height: 56.9166667rem;
  margin:-2rem -9rem;
  -moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
  
}
.huaban{
  position: relative;
  left:9.8rem;
  top:14rem;
  width: 38rem;
  height: 38rem;
  z-index: 10;
}
.secound_page{
  width: 100%;
  height: 100%;
  background:#7A1525;
  position: absolute;
  top:0;
  left:0;
  z-index: 1000;
  opacity: 0.8;

}
.canvas_cricle{
  border-radius: 50%;
  width: 43rem;
  height: 43rem;
  margin-left: -2.3rem;
  top:-2rem;
}
.canvas_cricle2{
  width: 36rem;
  height: 36rem;
  margin-top: 0.6rem;
}
.writename_box{
  width: 36.825rem;
  height: 10.7625rem;
  background:url(../images/name_back.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top:30%;
  left:30%;
  z-index:9999;
  text-align: center;
  color: #EFC062;
  font-size: 1.8rem;
}
.writename_box p{
  margin-top: 2rem;
  color: #EFC062;
}
.writename_box input{
  width: 24rem;
  height: 3rem;
  margin-top: 1rem;
  background:#771627;
  border:1px solid #771627;
  font-size: 20px;
  color: #EFC062;
}
.confirm_btm{
  width: 9.825rem;
  height: 5.3625rem;
  background: url(../images/confirm_btm1.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top:48%;
  left:45%;
  z-index: 1000;
  outline: none;
  border:none;
}
.bigPic{
  width: 80%;
  height:71.144%;
  position: absolute;
  border:1rem solid #E8C474;
  box-sizing:border-box;
  top:8%;
  left:10%;
  z-index: 1000; 
}
.bigPic img{
  width: 100%;
  height:100%;
}
.react_zuo{
  float: left;
  width: 9.825rem;
  height: 5.3625rem;
  background: url(../images/return_btm.png) no-repeat;
  background-size: 100% 100%;
  outline: none;
  border: none;
}
.fin_zuo{
  float: left;
  width: 9.825rem;
  height: 5.3625rem;
  background: url(../images/confirm_btm.png) no-repeat;
  background-size: 100% 100%;
  margin-left: 3rem;
  outline: none;
  border: none;
}
.fin_button{
  width: 25rem;
  height: 5.3625rem;
  position: absolute;
  bottom:5rem;
  left: 35%;
  z-index: 1000;
}